@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Globals */
  /* Margin and padding reset */
  * {
    @apply m-0 p-0 box-border;
  }

  /* Typography resets */
  p {
    @apply leading-relaxed tracking-wide;
  }

  h1, h2, h3 {
    @apply tracking-tight leading-snug;
  }

  /* Smooth scrolling */
  html {
    background-color: black;
    scroll-behavior: smooth;
  }

  /* app flex */
  .App{
    @apply flex flex-col min-h-screen;
  }

  /* Ensuring consistent font rendering */
  body {
    @apply antialiased bg-neutral-dark;
    /* global transition for colors (dark light mode switch) */
    @apply transition-colors duration-300 ease-in-out } 
      /* Dark/Light mode handling */
      @media (prefers-color-scheme: light) {
      body {
        @apply bg-neutral-light text-neutral-dark;
      }

      a {
        @apply text-primary hover:text-primary-dark;
      }

      p {
        @apply text-neutral-dark;
      }

      button {
        @apply bg-primary text-white hover:bg-primary-dark;
      }

      input, textarea, select {
        @apply border-neutral-light focus:border-primary focus:ring-primary;
      }

      .card {
        @apply bg-secondary border-neutral-dark;
      }
      .card-button{
        @apply bg-primary text-neutral-100
      }
      .card-title, .card-description, .card-date{
        @apply text-neutral-dark
      }
    }

    @media (prefers-color-scheme: dark) {
      body {
        @apply bg-neutral-dark text-neutral-light;
      }

      a {
        @apply text-primary-light hover:text-primary;
      }

      p {
        @apply text-neutral-light;
      }

      button {
        @apply bg-primary-light text-neutral-dark hover:bg-primary;
      }

      input, textarea, select {
        @apply border-neutral-dark focus:border-primary-light
          focus:ring-primary-light;
      }

      .card {
        @apply bg-secondary-dark text-neutral-light border-neutral-light;
      }
      .card-button{
        @apply bg-primary-dark text-neutral-100
      }
      .card-title, .card-description, .card-date{
        @apply text-neutral-100
      }
    }

    /* Heading styles and breakpoint (common for both modes) */

    h1, h2, h3, h4, h5, h6 {
      @apply font-sans font-bold leading-tight;
    }

    h1 {
      @apply text-4xl md:text-5xl lg:text-6xl;
    }

    h2 {
      @apply text-3xl md:text-4xl lg:text-5xl;
    }
    h3 {
      @apply text-2xl md:text-3xl lg:text-4xl;
    }
    h4 {
      @apply text-xl md:text-2xl lg:text-3xl;
    }
    p{
      @apply text-base md:text-xl lg:text-2xl
    }
    a {
      @apply transition-colors text-base md:text-xl lg:text-2xl;
    }

    button {
      @apply font-semibold py-2 px-4 rounded-lg shadow-md hover:shadow-lg
        transition;
    }

    button:focus, a:focus, input:focus, textarea:focus {
      @apply outline-none ring-2 ring-offset-2;
    }

    img {
      @apply max-w-full h-auto;
    }

    /* Form base styling */
    label {
      @apply block font-semibold mb-2;
    }

    /* Accessibility styling */
    *:focus {
      @apply outline-none ring-2 ring-primary-dark ring-offset-2;
    }

    /* TAILWINDCSS CLASS BASE STYLING */
 
    .container {
      @apply max-w-7xl mx-auto my-10 px-4 md:px-8;
    }

    .section {
      @apply py-8 md:py-12 lg:py-16;
    }

    .nav-item {
      @apply text-lg md:text-xl lg:text-2xl;
    }

    .grid-layout {
      @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4;
    }

    .portfolio{
      @apply max-w-7xl mx-auto p-6;
    }

    .card {
      @apply flex flex-col justify-between max-h-80 p-1 md:p-3 lg:p-4 rounded-lg shadow-lg transition-shadow hover:shadow-xl ease-in-out;
    }

    .card-title {
      @apply mb-2 text-xl font-semibold whitespace-normal text-ellipsis;
    }
    .card-description{
      @apply text-base;
    }

    .card-date{
      @apply text-sm mb-2;
    }
    .card-button {
      @apply  rounded-lg px-4 py-1 transition hover:bg-primary-dark mt-2;
    }
    .repo-preview{
      @apply max-w-36 md:max-w-full md:w-24 lg:w-20 aspect-square ring-2 ring-neutral-300 rounded-full  text-center shrink-0 overflow-hidden;
    }
    .repo-preview-image{
      @apply w-full h-full object-cover;
    }
    /* Utilities */
    .text-responsive {
      @apply text-xl md:text-2xl lg:text-4xl;
    }

    .button-responsive {
      @apply text-sm md:text-base lg:text-lg;
    }

    .padding-responsive {
      @apply p-4 md:p-6 lg:p-8;
    }
    .avatar{
      @apply w-1/3 h-auto rounded-full content-center m-10 ring-4
    }
    .logo{
      @apply w-8 md:w-12 lg:w-24 ring-2 md:ring-4 rounded-xl mr-2
    }

    /* COMPONENT BASE STYLING */
    main{
      @apply flex-grow
    }
    header,footer{
      @apply flex  justify-between py-4 px-6 md:px-12;
      h1{
        @apply mx-1 md:mx-4 text-responsive font-extrabold;
      }
      li{
        @apply block px-4 py-2 rounded
      }
      button{
        @apply ring-0 bg-transparent h-full
      }
    }
    footer{
      @apply text-center
    }

  }

  @media (prefers-color-scheme:light){
  header,footer{
  @apply bg-neutral-dark text-neutral-light;
  }
    span{
      @apply bg-neutral-light
    }
    li{
      @apply hover:bg-primary-dark
    }
    a{
      @apply hover:text-primary-light
    }
  .nav-burger{
    @apply bg-neutral-dark
  }
  #tech-scroller{
    @apply bg-slate-500 ring-neutral-dark;
    span{
      @apply bg-transparent text-neutral-dark
    }
  }
  }
  @media (prefers-color-scheme:dark){
    header,footer{
    @apply bg-neutral text-neutral-dark;
  }
    span{
      @apply bg-neutral-dark;
    }
    li{
      @apply hover:bg-primary-light;
    }
    a{
      @apply hover:text-primary-dark;
    }
    .nav-burger{
      @apply bg-neutral;
    }
    #tech-scroller{
      @apply ring-neutral;
    }
  }

/* Tech scroller */
#tech-scroller{
  @apply flex flex-col align-middle overflow-hidden ring-4 rounded-lg mx-auto my-5 md:w-4/5 xl:w-3/6;  
}

.tech-scroll-title{
  @apply ml-4 font-medium;
}
.tech-container{
  @apply flex flex-row  flex-grow-0 flex-shrink-0 my-4 items-center align-middle justify-start whitespace-nowrap;
}


/* #lang-container{
  @apply animate-slide-left w-max
}

#frameLib-container{
@apply animate-slide-right w-max
}
 */
.tech-container div>p{
  @apply text-center text-sm font-medium ;
}

.tech-item{
  @apply flex flex-col items-center text-slate-100 w-12 m-4
}

.tech-icon {
  @apply w-12 h-12;
}

